@page "{id:int}"
@model WebApplication1.Pages.Issues.DetailModel
@using WebApplication1.Extension
@using Humanizer
@{
}
<div class="mt-5">
    @if(Model.Issue == null)
    {
        <div class="alert alert-warning" role="alert">
            Issue not found
        </div>
    }
    else
    {
        <div class="">
            <h3>@Model.Issue.Title</h3>
            <div class="mb-2">
                <span class="badge bg-info">@Model.Issue.IssueType</span>
                <span class="@Model.Issue.Priority.ToCssClass()">@Model.Issue.Priority</span>
                <span class="badge bg-info">@Model.Issue.Created.Humanize(utcDate: false)</span>
            </div>
            <p>@Model.Issue.Description</p>
            <button id="resolveButton" type="submit" data-issueId="@Model.Issue.Id">Resolve</button>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(function() {
            var resolveBtn = document.getElementById('resolveButton');
            resolveBtn.addEventListener('click', (e) => {
                e.preventDefault();
                var issueId = resolveBtn.getAttribute('data-issueId');
                $.get(`?handler=resolve&id=${issueId}`, () => {
                    alert(`Issue ${issueId} has been resolve`);
                    window.location.href = '/';
                })
            })
        })
    </script>
}